<% layout ("/layouts/boilerplate")%>

    <div class="row">
        <div class="col-8">
            <h3>Create a new Listing</h3>
            <form method="POST" action="/listings">
                <div>
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Enter Title" class="form-control">
                    <br>
                </div>
                <br>
                <div>
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" name="listing[description]" placeholder="Enter description"
                        class="form-control"></textarea>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" placeholder="Enter Price" class="form-control">
                    </div>
                    <br>
                    <br>
                    <div class="col-8">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" placeholder="Enter location" class="form-control">
                    </div>

                </div>
                <br>
                <br>
                <div>
                    <label for="img" class="form-label">Image</label>
                    <input type="text" name="listing[image][url]" placeholder="Image URL/Link" class="form-control">
                </div>
                <br>
                <br>
                <div>
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" placeholder="Enter country name" class="form-control">
                </div>
                <br>
                <br>
                <button class="btn btn-dark">Add</button>
            </form>
        </div>
    </div>